### Nama : Nur Khalimah
### NIM__: 11180940000015

## Bekerja dengan List dan Tuples

### Looping pada Element List

**Contoh 1** : print list satu persatu

In [1]:
mobil = ['toyota', 'honda', 'BMW', 'hyundai']
for i in mobil :
    print(i)

toyota
honda
BMW
hyundai

**Penjelasan:**
pengulangan **for** artinya "masukkan nilai-nilai yg ada pd elemen di list 'mobil' ke dalam variabel "i"

In [4]:
angka = 1
for i in mobil : 
    print ("Pembelian ke " + str (angka) + "  yaitu "+ i.title())
    angka += 1 # artinya sama dengan angka = angka + 1

Pembelian ke 1  yaitu Toyota
Pembelian ke 2  yaitu Honda
Pembelian ke 3  yaitu Bmw
Pembelian ke 4  yaitu Hyundai

In [6]:
angka = 1
for i in mobil : 
    print ("Pembelian ke " + str (angka) + "  yaitu "+ i.title()) # nilai variabel tetap 1
    angka = 1 # disinih nilai variabel angka adalah 1

Pembelian ke 1  yaitu Toyota
Pembelian ke 1  yaitu Honda
Pembelian ke 1  yaitu Bmw
Pembelian ke 1  yaitu Hyundai

### Error yg sering terjadi

In [7]:
mobil = ['toyota', 'honda','BMW','hyundai']    # (1)
for i in mobil:                                # (2)
print(i)                                       # (3)

IndentationError: expected an indented block (<ipython-input-7-41970e007a9c>, line 3)

**penjelasan :** baris (3) identasinya sejajar pada baris (2) (artinya tidak berada dalam satu blok), maka terjadi **IndentationError**

In [8]:
mobil = ['toyota', 'honda','BMW','hyundai']    
for i in mobil                                # lupa tanda kolon ':'
 print(i)

SyntaxError: invalid syntax (<ipython-input-8-77c85e4bfbac>, line 2)

### Membuat List Numerik

In [9]:
for nilai in range(1,5): # range(1,n) berarti akn menghasilkan angka yg berurutan dari 1 s.d n-1
    print(nilai)

1
2
3
4

In [10]:
for nilai in range(5): # range(n) berarti akn menghasilkan angka yg berurutan dari 0 s.d n-1
    print(nilai)

0
1
2
3
4

In [11]:
angka = list(range(1,5))
print(angka)

[1, 2, 3, 4]

**Contoh 2:** range(awal, akhir, jeda) terdapat parameter **awal** yg menunjukan angka awal, parameter **akhir** menunjukkan angka terakhir -1, dan parameter **jeda** menunjukkan "dilongkap berapa kali"

In [12]:
angka = list(range(2,20,2))
print(angka)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
angka = []
for nilai in range(-10,10) :
    pangkat = nilai**2
    angka.append(pangkat)
print(angka)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
angka = [nilai**2 for nilai in range(-10,10)] # komprehensif list : membust list hanya 1 baris kode
print(angka)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
data = [283, 34, 21, 43, 65, 2, 12, 2, 124, 1, 203, 383, 124, 231, 12, 64, 74, 73, 98, 83, 3, 43]
nilai_min = min(data)
nilai_max = max(data)
jumlah = sum(data)
print("Nilai terkecil: " + str(nilai_min))
print("Nilai terbesar: " + str(nilai_max))
print("jumlah: " + str(jumlah))

Nilai terkecil: 1
Nilai terbesar: 383
jumlah: 1978

In [30]:
# kode yg lebih "compact" nya:
data = [283, 34, 21, 43, 65, 2, 12, 2, 124, 1, 203, 383, 124, 231, 12, 64, 74, 73, 98, 83, 3, 43]
print("Nilai terkecil: {}".format(min(data)))
print("Nilai terbesar: {}".format(max(data)))
print("jumlah: {}".format(sum(data)))

Nilai terkecil: 1
Nilai terbesar: 383
jumlah: 1978

### Bekerja dengan Sebagian Elemen List

In [16]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']
print (mobil[0:3]) # slice elemen ke 0 s.d 2

['toyota', 'honda', 'BMW']

In [17]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']
mobil1 = mobil[:2]  # slice dari elemen 0 s.d 1
mobil2 = mobil[2:]  # slice dari elemen 2 s.d akhir
mobil3 = mobil[:]   # slice semua elemen
print("Output mobil 1: ",mobil1)
print("Output mobil 2: ",mobil2)
print("Output mobil 3: ",mobil3)

Output mobil 1:  ['toyota', 'honda']
Output mobil 2:  ['BMW', 'daihatsu', 'ferrari']
Output mobil 3:  ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']

In [18]:
mobil = ['toyota', 'honda', 'BMW', 'daihatsu', 'ferrari']
mobil_jepang = mobil[0:2]
mobil_jepang.append(mobil[3])
mobil_eropa = []
mobil_eropa.append(mobil[2])
mobil_eropa.append(mobil[4])
print("Mobil Jepang: ", mobil_jepang)
print("Mobil Eropa: ", mobil_eropa)

Mobil Jepang:  ['toyota', 'honda', 'daihatsu']
Mobil Eropa:  ['BMW', 'ferrari']

### Multidimensional List

In [19]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW', 'ferrari']] # list dgn indeks ke 0 dan list dgn indeks ke 1
print(mobil[0])
print(mobil[0][0])
print(mobil[0][:2])

['toyota', 'honda', 'daihatsu']
toyota
['toyota', 'honda']

In [20]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW', 'ferrari']]
mobil[0].append('suzuki')
mobil[1].append('jaguar')
print(mobil)

[['toyota', 'honda', 'daihatsu', 'suzuki'], ['BMW', 'ferrari', 'jaguar']]

In [21]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW', 'ferrari']]
pop_mobil = mobil.pop()                 # menghapus elemen list indeks ke 1
print("List yang terhapus: ", pop_mobil)
print("List sekarang: ", mobil)

List yang terhapus:  ['BMW', 'ferrari']
List sekarang:  [['toyota', 'honda', 'daihatsu']]

In [23]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW', 'ferrari']]
mobil[0].pop(0)                # menghapus elemen 0 dari list indeks ke 0
print(mobil)

[['honda', 'daihatsu'], ['BMW', 'ferrari']]

In [27]:
mobil = [['toyota', 'honda', 'daihatsu'], ['BMW', 'ferrari']]

for i in range(0, len(mobil)):
    for j in mobil[i]:
     print(j)

toyota
honda
daihatsu
BMW
ferrari

### Tuples

Tuple dpt disebut juga **Immutable List** (tidak dpt memodifikasi nilai elemen-elemen nya)

In [25]:
ukuran_matriks = (1920, 1080) # m x n
print("m = ", ukuran_matriks[0])
print("n = ", ukuran_matriks[1])

m =  1920
n =  1080

In [28]:
ukuran_matriks = (1920, 1080)
ukuran_matriks[0] = 1000 # modifikasi nilai m menjadi 1000
print("m = ", ukuran_matriks[0])
print("n = ", ukuran_matriks[1])

TypeError: 'tuple' object does not support item assignment

In [29]:
ukuran_matriks = (1920, 1080)
ukuran_matriks = (1000, 1080) # menuliskan nilai baru ke tuple yg kita buat
print(ukuran_matriks)

(1000, 1080)