<font color=fuchsia> <B>Nama : Nur Khalimah</font> <br>
<font color=fuchsia> <B>NIM__: 11180940000015</font> <br>

## PANDAS
Pandas merupakan package di Python yang digunakan untuk menganalisis data di bidang Data Science, Statistika dan Aktuaria.

## <font color=purple> <B>VIDIO KE-1</font>

### Import Pandas

In [2]:
import pandas as pd

<font color=fuchsia> <B>PENJELASAN : </font> <br>
    'pd' ini adalah singkatan umum yang biasa di pakai, kita sebenarnya boleh saja jika menggunakan singkatan lain untuk pandas.

### Mengenal DataFrame

<b>Membuat DataFrame sederhana

In [3]:
pd.DataFrame (data = {'Minuman': ['Bandrek', 'Kopi Hitam'],
                      'Harga': [4500,3200]})

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

<font color=fuchsia> <B>PENJELASAN : </font> <br>
DataFrame adalah data berbentuk tabel yang terdiri dari baris dan kolom.<br>
__Parameter__ 'Data' menerima dictionary :
- 'Minuman' dan 'Harga' sebagai __key__, <br>
- 'Bandrek', 'Kopi Hitam', [4500,3200] sebagai <b>value.

<b>Mengenal index pada DataFrame

In [4]:
pd.DataFrame (data = {'Rapunzel': ['suka', 'suka'],
                      'Aurora': ['tidak suka','suka']},
              index = ['Mangga', 'Jambu'])

       Rapunzel      Aurora
Mangga     suka  tidak suka
Jambu      suka        suka

<font color=fuchsia> <B>PENJELASAN : </font> <br>
Membuat DataFrame dengan index 'Mangga' dan 'Jambu'.<br>
    Jika kita tidak menambahkan / memberi keterangan __index__ pada formula DataFrame, maka index nya otomatis bilangan integer, seperti contoh diatas sebelumnya.

### Mengenal Series

In [5]:
pd.Series(data = [100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

<font color=fuchsia> <B>PENJELASAN : </font> <br>
Series adalah data berbentuk tabel yang hanya terdiri dari 1 kolom saja.

In [6]:
pd.Series(data = [3000, 3500, 40000],
          index = ['Mangga', 'Pisang', 'Jambu'],
          name = 'Harga Buah')

Mangga     3000
Pisang     3500
Jambu     40000
Name: Harga Buah, dtype: int64

<font color=fuchsia> <B>PENJELASAN : </font> <br>
Membuat Series dengan,
- index : 'Mangga', 'Pisang', 'Jambu', dan
- Name : 'Harga Buah'.

### Memuat File CSV ke dalam DataFrame

In [ ]:
wine_df = pd.read_csv('./This PC/Downloads/winemag-data-130k-v2.csv')
wine_df.head()

In [1]:
import matplotlib
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 

%matplotlib inline

print(f'Matplotlib: {matplotlib.__version__}')
print(f'pandas: {pd.__version__}')
print(f'numpy: {np.__version__}')

Matplotlib: 3.0.3
pandas: 0.24.2
numpy: 1.16.2